@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-size: .96rem;
	margin: 0;
}

/*
TEST TEST TEST
---------------
highlights the borders of all the sections
---------------
TEST TEST TEST
*/
section {
	/*border: 4px lime solid;*/
}

.container-centered {
	width: 80%;
	margin: auto;
}

/*any container that you want to have a striped bg*/
.container-striped {
	background-image: url("../img/bg-stripes.png");
}

/*any container that needs even left and right padding*/
.container-side-padding {
	padding-left: 3rem;
	padding-right: 3rem;
}

/*padding settings for all sections and asides*/
section,
aside {
	padding: 5rem 0;
}

header {
	background-image: url("../img/bg-square-texture.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
	text-align: center;
}

/* large header - icon + title + button*/
header.large {
	height: 40rem;
}

header.large img.page-icon {
	width: 8%;
	height: auto;
	min-width: 5rem;
	margin-bottom: 2rem;
	margin-top: 6rem;
}

/*medium header - icon + title*/
header.medium{
	height: 30rem;
}

header.medium img.page-icon {
	width: 8%;
	height: auto;
	min-width: 5rem;
	margin-bottom: 2rem;
	margin-top: 4rem;
}

/*small header - title only*/
header.small{
	height: 18rem;
}

header.small h1 {
	margin-top: 3rem;
}

nav {
	height: 6rem;
	padding-top: 2rem;
}

/*the hamburger or menu button*/
.menu-icon {
	float: right;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #fff;
	padding: 0.5rem;
	font-size: .7rem;
	cursor: pointer;
	display: none;
}

.menu-icon:hover {
	color: #999;
	border: 1px solid #999;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

nav ul li {
	float: left;
}

/*the logo in the nav bar*/
nav img.logo {
	float: left;
	width: 30px;
	height: auto;
	-webkit-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	transition: opacity 0.1s;
}

nav img.logo:hover {
	opacity: .8;
}

nav a {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	padding-bottom: 0.2rem;
	margin-right: 3rem;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	color: #DDD;
}

nav a:hover {
	border-bottom: solid 2px;
}

/*heading in the banners*/
h1 {
	color: #FFF;
	letter-spacing: 0.2rem;
	font-family: "Montserrat", sans-serif;
	font-size: 2rem;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin-bottom: 4rem;
}

h2 {
	font-family: "Source Sans Pro";
	display: inline-block;
	border-bottom: solid 4.5px #000;
	font-size: 1.9rem;
	letter-spacing: .1rem;
	font-weight: 400;
	margin-bottom: 4rem;
	text-align: center;
}

/*if you want an h2 with a slightly smaller bottom margin*/
h2.small-bottom-margin {
	margin-bottom: 1.5rem;
}

/*if you want an h2 with absolutely no bottom margin*/
h2.no-bottom-margin {
	margin-bottom: 0;
}

p {
	line-height: 160%;
	color: #222;
	letter-spacing: 0.025rem;
	font-weight: 300;
}

em {
	color: #FF0800;
	font-style: normal;
	font-weight: 600;
}

a {
	text-decoration: none;
}

/* in-text links */
.text-link {
	color: #FF0800;
}

/* when you hover on in-text links */
.text-link:hover {
	border-bottom: solid 1.5px;
}

/*used to make space between content and footer.
Did this instead of putting a top margin on the footer
because this way, the spacing can be moved into a column,
which is necessary for columns with backgrounds that need
to be flush with the footer.*/
.footer-spacing {
	display: block;
	height: 5rem;
}

footer {
	background: url("../img/bg-square-texture.png");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
    height: 8rem;
}

footer p {
	text-align: center;
	color: #ccc;
	font-size: .8rem;
	padding-top: 3rem;
	letter-spacing: .1rem;
}

/*----
button styling
------- */
.button-default,
.button-reset,
.button-banner {
	font-size: .96rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	padding: .9rem 3.5rem;
	background-color: transparent;
	border: solid 2px;
	display: inline-block;
	text-align: center;
	text-transform: lowercase;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.button-default,
.button-banner {
	color: #FF0800;
	border-color: #FF0800;
}

.button-reset {
	color: #555;
	border-color: #555;
}

/* when hovering on default button */
.button-default:hover,
.button-banner:hover {
	color:white;
	background-color: #FF0800;
}

/* when hovering on reset button */
.button-reset:hover {
	color:white;
	background-color: #555555;
}

.button-edit {
	text-transform: uppercase;
	margin-top: .9rem;
	margin-bottom: 1rem;
	display: inline-block;
	font-size: .8rem;
}

.button-right {
	text-align: right;
}

/*product listing*/
.product-listing {
	text-align: center;
	background: #fff;
	padding: 2rem;
}

.product-listing h3 {
	text-transform: uppercase;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.product-listing p {
	margin-bottom: 2rem;
}

/* margin for articles */
.faq article,
.reviews article,
.confirmation-info article,
.contact-info article,
.who-we-are article,
.blog article,
.feedback article {
	margin-bottom: 3rem;
}

.confirmation-info article h3,
.contact-info article h3 {
	font-size: .9rem;
	font-weight: 600;
	letter-spacing: .025rem;
}

/* form styling */
label {
	display: block;
	margin-bottom: 0.8rem;
	color: #777;
}


input[type="text"],
textarea {
	display: block;
	font-size: 1.3rem;
	padding: 0.8rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: #666;
	margin-bottom: 3rem;
	border: solid 1px #DDD;
	width: 100%;
	resize: none;
}

input[type="checkbox"] {
	margin-right: 1rem;
	margin-bottom: 3rem;
}

@media(max-width: 39.25em) {
	.menu-icon {
		display: block;
		margin-right: 2rem;
	}

	nav img.logo {
		float: left;
		margin-left: 2rem;
	}

	nav {
		background: #222;
		padding-top: 1rem;
		height: 4rem;
		z-index: 30;
	}

	nav ul {
		display: none;
		clear: both;
		float: none;
		background: #222;
	}

	nav ul li { 
		display: block;
		float: none;
		clear: both;
		margin: 0;
	}

	nav ul li a {
		margin: 0;
		padding: .8rem 0;
		height: 3rem;
		display: inline-block;
	}

	.nav-grid,
	.nav-grid [class*='col-'] {
		padding: 0;
		z-index: 30;
	}
}