@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header {
	background-image: url("../img/bg-square-texture.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
	height: 40rem;
	text-align: center;
}

header img {
	width: 8%;
	height: auto;
}

/*large header banners*/
.header-large {
	height: 40rem;
}

.header-large img {
	width: 8%;
	margin-top: 10rem;
	height: auto;
}

/*small header banners*/

.header-small {
	height: 33rem;
}

.header-small img {
	margin-top: 5rem;
}

.header-tiny {
	height: 20rem;
}

.header-tiny h1 {
	margin-top: 5rem;
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
}

/*container that holds content that needs margins on the sides*/
.centered-content {
	width: 80%;
	margin: auto;
}

section {
	padding: 5rem 0;
}

/* section tag in section tags */
section section {
	margin-left: 5rem;
	margin-right: 5rem;
}

/*heading in the banners*/
h1 {
	color: #FFF;
	letter-spacing: 0.2rem;
	font-family: "Montserrat", sans-serif;
	font-size: 2rem;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

/*same as h1, but diff color*/
h1.dark {
	color: #333;
}

h2 {
	font-size: 1.9rem;
	letter-spacing: .05rem;
	font-weight: 400;
	text-align: center;
	margin-bottom: 5rem;
}

.container-wo-bg h2 {
	text-align: center;
}

h3 {
	font-size: 1.2rem;
	letter-spacing: .05rem;
	font-weight: 300;
	margin-top: 3rem;
}

h4 {
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.02rem;
	color: #444;
	text-align: center;
}

/*same as h4, but lighter color*/
h4.light {
	color: #ccc;
}

p {
	line-height: 160%;
	color: #222;
	letter-spacing: 0.05rem;
	font-weight: 300;
}

/* paragraphs in the FAQ */
.faq-para {
	margin-bottom: 3rem;
}

em {
	color: #FF3300;
	font-style: normal;
	font-weight: 600;
}

section code {
	color: gray;
    font-family: Courier;
    display:block;
}

a {
	text-decoration: none;
}

label {
	display: block;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
	color: #777;
}


input[type=text] {
	display: block;
	text-align: left;
	font-size: 1.3rem;
	padding: 0.8rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: #666;
	width: 100%;
}

footer {
	background: url("../img/bg-square-texture.png");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
}

footer p {
	padding-top: 7rem;
	color: #EEE;
	text-align: center;
	padding: 4rem;
	font-size: 0.9rem;
	margin: 0;
}

nav {
	background: transparent;
	height: 4rem;
	padding-top: 1.5rem;
}

/*nav in the home page doesnt have a background color*/
.header-large nav {
	background: transparent;
}

nav::after {
	content: "";
	clear:both;
	display: block;
}

.menu-icon {
	display: none;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}

nav a {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	display: inline-block;
	padding-bottom: 0.2rem;
	margin-right: 3rem;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	text-align: right;
	color: #DDD;
	float: right;
}

nav a:hover {
	border-bottom: solid 2px;
}


/* container with a border */
.container-with-bg {
	padding-bottom: 3rem;
	text-align: center;
	width: auto;
	background-image: url('../img/bg-square-texture.png');
	background-size: cover;
}

.container-wo-bg .container-with-bg {
	padding-top: 3rem;
	margin-right: 0;
}

.container-wo-bg {
	border: solid 1px;
	border-color: #CCC;
	padding-bottom: 3rem;
}

.container-grey-bg {
	background-color: #eee;
}

/* heading change to inline display and give more margin */
.heading {
	display: inline;
	margin-left: 0;
}

/* submit button for forms */
.button-default,
.button-reset {
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	padding: .9rem 3.5rem;
	background-color: transparent;
	border: solid 2px;
	display: inline-block;
	margin-top:2rem;
	margin-right: 1rem;
	text-align: center;
	max-width: 18rem;
	text-transform: lowercase;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.button-default {
	color: #FF3300;
	border-color: #FF3300;
}

.button-reset {
	color: #555;
	border-color: #555;
}

/* when hovering on submit button for forms */
.button-default:hover {
	color:white;
	background-color: #FF3300;
	border-color: #FF3300;
}

/* when hovering on reset button for forms */
.button-reset:hover {
	color:white;
	background-color: #555555;
	border-color: #555555;
}

/* in-text links */
.text-link {
	color: #FF3300;
}

/* when you hover on in-text links */
.text-link:hover {
	border-bottom: solid 1.5px;
}

/* container for all the products on home page*/
.product-container-home {
	background: #EEE;
	margin-right: 0;
	margin-left: 0;
}

/* product listing containers */
.product-listing {
	background-color: #fff;
	text-align: center;
	padding: 3rem;
	margin: 4rem;
	width: 24%;
}

/*title of the product*/
.product-listing h3 {
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}

.product-listing p {
	color: #666;
	margin: auto;
}


/*makes the button full-width*/
.product-listing .button-default {
	padding-left: 0rem;
	padding-right: 0rem;
	width: 100%;
}

/*summarizes the information they have entered so far. seen on the payment-method page*/
.product-summary {
	padding-bottom: 2rem;
}

.product-summary h2 {
	text-align: left;
	margin-bottom: 0;
}

.product-summary p {
	margin: 0;
}

.total-cost {
	padding: 0;
	margin: 0;
}

.total-cost p {
	margin: 0;
	font-size: 3rem;
	padding: 0;
}

.total-cost p strong {
	font-size: 1rem;
}
