@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);


*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header {
	background-image: url("../img/bg-style-guide.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
	height: 40rem;
	text-align: center;
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
}

/* section tag in section tags */
section section {
	margin-left: 5rem;
	margin-right: 5rem;
}

/*heading in the banners*/
h1 {
	color: #FFF;
	letter-spacing: 0.2rem;
	font-family: "Montserrat", sans-serif;
	font-size: 2rem;
	text-transform: uppercase;
}

h2 {
	font-size: 1.9rem;
	letter-spacing: .05rem;
	font-weight: 400;
	margin-top: 5rem;
	margin-bottom: 1.5rem;
	text-align: left;
}

.container-wo-bg h2 {
	text-align: center;
}

h3 {
	font-size: 1.2rem;
	letter-spacing: .05rem;
	font-weight: 300;
	margin-top: 3rem;
}

h4 {
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.02rem;
	color: #444;
	text-align: center;
}

p {
	line-height: 150%;
}

section code {
	color: gray;
    font-family: Courier;
    display:block;
}

a {
	text-decoration: none;
}

label {
	display: block;
	margin-right: 1rem;
	margin-bottom: 0.8rem;
	color: #777;
}


input {
	display: block;
	width: 20rem;
	text-align: left;
	font-size: 1.3rem;
	padding: 0.8rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: #666;
}

nav {
	padding-top: 2rem;
}

nav a {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	display: inline-block;
	padding-bottom: 0.2rem;
	margin-right: 3rem;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	text-align: right;
	color: #DDD;
	float: right;
}

nav a:hover {
	border-bottom: solid 2px;
}


/* container with a border */
.container-with-bg {
	padding-bottom: 3rem;
	text-align: center;
	width: auto;
	background-image: url('../img/bg-square-texture.png');
	background-size: cover;
	margin-right: 5rem;
}

.container-wo-bg .container-with-bg {
	padding-top: 3rem;
	margin-right: 0;
}

.container-wo-bg {
	border: solid 1px;
	border-color: #CCC;
	padding-bottom: 3rem;
}

.container-grey-bg {
	border: solid 1px;
	border-color: #CCC;
	padding-bottom: 3rem;
	background-color: #eee;
}

/* heading change to inline display and give more margin */
.heading {
	display: inline;
	margin-left: 0;
}

/*flexbox that holds the buttons. generally used for when 2 buttons are side by side*/
.button-container {
	display: flex;
	flex-wrap: wrap;
}

/* submit button for forms */
.button-default,
.button-reset {
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	padding: .9rem 3.5rem;
	background-color: transparent;
	border: solid 2px;
	display: inline-block;
	margin-top:2rem;
	margin-right: 1rem;
	text-align: center;
	max-width: 18rem;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	flex-grow: 1;
}

.button-default {
	color: #FF3300;
	border-color: #FF3300;
	order: 2;
}

.button-reset {
	color: #555;
	border-color: #555;
	order: 1;
}

/* when hovering on submit button for forms */
.button-default:hover {
	color:white;
	background-color: #FF3300;
	border-color: #FF3300;
}

/* when hovering on reset button for forms */
.button-reset:hover {
	color:white;
	background-color: #555555;
	border-color: #555555;
}

/* in-text links */
.text-link {
	color: #FF3300;
}

/* when you hover on in-text links */
.text-link:hover {
	border-bottom: solid 2px;
}

/* product listing containers */
.product-listing {
	background-color: #fff;
	text-align: center;
	width: 20rem;
	padding: 3rem;
	margin: 4rem;
}

/*title of the product*/
.product-listing h3 {
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
}

.product-listing p {
	color: #666;
}


/*makes the button full-width*/
.product-listing .button-default {
	padding-left: 0rem;
	padding-right: 0rem;
	width: 100%;
}


@media(max-width: 32.88em) {
	section section {
		margin: 2rem;
	}

	.button-default {
		order: 1;
	}

	.button-reset {
		order: 2;
	}
}

@media(max-width: 25em) {
	input {
		width: 100%;
	}
}

@media(max-width: 33.75em) {
	h1 {
		font-size: 1.6rem;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	h2 {
		font-size: 1.25rem;
	}

	h4 {
		font-size: 0.8rem;
	}

	p {
		font-size: 0.8rem;
	}
}